<table class="table table-stripped">
    <thead class="list">
        <th>Discount</th>
        <th>Tax</th>
        <th>Date</th>
        <th>Total</th>
        <th>Stamp</th>
        <th>Client</th>
    </thead>

    <tbody>
        <tr *ngFor="let invoice of invoicesDto">
            <td scope="row">{{invoice.discount}}</td>
            <td>{{invoice.tax}}</td>
            <td>{{invoice.date}}</td>
            <td>{{invoice.total}}</td>
            <td>{{invoice.stamp}}</td>
            <td>{{invoice.client}}</td>
            <!-- <td>  <a href="edit/{{invoice.discount}}" class="btn btn-success btn2">EDIT</a>    <button (click)="deleteInvoice(invoice)" class="btn btn-danger"> Delete</button>  </td> -->
        </tr>
    </tbody>
</table>